body{
    background: black;
}
#canvas{
    border: 3px solid white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    max-width: 70%;
}
#back_b{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
p{
    color: white;  
}

